{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

    <h2>Registration</h2>

    <hr class="col-md-12">
    <h4 class="col-md-3 text-center {% if wizard.steps.step1 != 1 %}step-disabled {% endif %}">Register</h4>
    <h4 class="col-md-3 text-center {% if wizard.steps.step1 != 2 %}step-disabled {% endif %}">Hero Game</h4>
    <h4 class="col-md-3 text-center {% if wizard.steps.step1 != 3 %}step-disabled {% endif %}">Agree</h4>
    <h4 class="col-md-3 text-center {% if wizard.steps.step1 != 4 %}step-disabled {% endif %}">Set Password</h4>
    <hr class="col-md-12">

    <div class="col-md-3"></div>
    <div id="registratione-form" class="col-md-6">
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}

            {% block form %}
            {% bootstrap_form wizard.form %}
            {% endblock %}

            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" class="btn btn-default btn-lg" value="{{ wizard.steps.prev }}">← Back</button>
            {% endif %}
            <button type="submit" class="btn btn-info btn-lg pull-right">Continue</button>
        </form>
    </div>
    <div class="col-md-3"></div>

{% endblock %}