{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">

            {% if error %}
                <div class="alert alert-dismissible alert-danger">
                    {{ error }}
                </div>
            {% else %}
                <h2>Thanks for participating!</h2>
                <hr>

                <p>Your credentials to access the VxRack Neutrino are the following.</p>

                <ul>
                    <li>OpenStack domain: {{ data.neutrino_account }}</li>
                    <li>OpenStack username: {{ data.neutrino_username }}</li>
                    <li>OpenStack password: {{ data.neutrino_password }}</li>
                    <li>Horizon URL: {{ data.neutrino_url }}/horizon/</li>
                    <li>Neutrino URL: {{ data.neutrino_url }}</li>
                </ul>

                Please, also take note of your Hero name and token as you need them to complete the tutorial and
                participate in the contest.

                <ul>
                    <li>Hero name: {{ data.hero_name }}</li>
                    <li>Hero token: {{ data.token }}</li>
                </ul>

                <p>You should have also received an email with this information.</p>
                <p>&nbsp;</p>
                <div class="text-center">
                    <a class="btn btn-info btn-lg" href="{% url 'tutorial' %}">Start the tutorial</a>
                </div>
            {% endif %}
            <p>&nbsp;</p>
        </div>
    </div>

{% endblock %}