{% extends 'hero/base.html' %}

{% block hero_content %}

<h3>Game Information</h3>
The Hero game is an Idle RPG, once you launch the VM, in the lab, and the hero is activated, it will be magically be transported to Medieval  Barcelona. You will be able to track the Hero’s progress and hero's stats. We have prices for the TOP heroes for each Day.

<h3>These are the rules to select the winner of each day:</h2>

<li>Determination of winners, will be done 45 min before closing time of each conference day, that is Tuesday, Wednesday and Thursday.
<li>Participants needs to be present to claim the price.
<li>Participants can only win 1 price on this game for the three days, although they can continue playing.
<li>The winners will be the owners of the TOP 3 Heros that have achieved the highest Level that day.  This will be displayed in the list of Heros page. Example: www.vxrackneutrinoheros.com/players
<li>If we have a tie because of Heros at the same level, we will use the Hero’s items power points (shield, weapon, etc..) to determine who moves up or down. We will add the items’ power points for each Hero and compare them. The Heros on the same level, will be ranked based on the total Items’ power points accumulated.
<li>If we still have a tie, we will use a coin flip to determine the winner. The participants needs to be present to flip the coin, otherwise it forfeits the win.
<li>Each morning at 10 am Barcelona time, the game server will be restarted.  Heros will be reset to Level 1, all item will be set to a zero(0) power value and their location (x,y coordinates)  in the world will be randomly regenerated.


{% endblock %}
