{% load staticfiles %}
{% load bootstrap3 %}
{% load bootstrap_themes %}
{% load tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>VxRack Neutrino</title>

    <!-- Bootstrap CSS -->
    {% bootstrap_styles theme='darkly' type='min.css' %}

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">


</head>

<body>

<div class="container">
    <div class="heroes">
        <img src="{% static 'img/heroes.png' %}">
    </div>

    <div class="masthead clearfix">
        <div class="inner">
            <nav>
                <ul class="nav masthead-nav">
                    <!-- <li class="{% active '^/$' %}"><a href="{% url 'index' %}">Home</a></li> -->
                    <li class="{% active 'registration' %}"><a href="{% url 'registration' %}">Registration</a></li>
                    <li class="{% active 'tutorial' %}"><a href="{% url 'tutorial' %}">Tutorial</a></li>
                    <li class="{% active 'hero' %}"><a href="{% url 'hero_info' %}">Heroes Game</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</div> <!-- /container -->

<!-- Site footer -->
<footer class="col-xs-12 footer">
    <div class="container">
        <p class="text-muted">&copy; 2016 Dell EMC</p>
    </div>
</footer>

<script type="text/javascript" src="{% static 'js/jquery-2.2.1.min.js' %}"></script>
{% bootstrap_script use_min=True %}
{% block scripts %}{% endblock %}

</body>
</html>
