{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">VxRack Neutrino is a turnkey rack-scale system for
                Infrastructure-as-a-Service, purpose built for cloud native applications.  Sign in to discover how making an OpenStack deployment will make you the Hero of the stack.</p>
            <p class="text-center"><a class="btn btn-lg btn-warning" href="{% url 'registration' %}" role="button">Sign up and start your
                adventure!</a></p>
            <p>&nbsp;</p>
              <img src="https://www.flickr.com/photos/pcid77/23165252691" alt="CID Monument" align="middle">
            <!-- Example row of columns -->
            <div class="row">

            </div>
            <p>&nbsp;</p>
        </div>
    </div>
{% endblock %}
